.chat-container[b-0tpt6cjhoi] {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}

.message[b-0tpt6cjhoi] {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    max-width: 80%;
    word-wrap: break-word;
}

/* Mensagens do Usuário */
.user-message[b-0tpt6cjhoi] {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}

/* Mensagens da IA */
.ia-message[b-0tpt6cjhoi] {
    background-color: #e9ecef;
    color: black;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
}

.chat-container[b-0tpt6cjhoi] {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.copy-btn[b-0tpt6cjhoi] {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 8px;
}

.copy-btn:hover[b-0tpt6cjhoi] {
    color: #007bff;
}